# Learning Python

### Numbers and Operators

In [1]:
2 + 3 #Addition

5

In [2]:
3 - 1 #Subtraction

2

In [3]:
2 * 3 #Multiplication

6

In [4]:
4 / 2 #Division

2.0

In [5]:
5 % 2 #Modulus

1

In [6]:
2 ** 3 #Power

8

In [7]:
(2 + 3) * (5 - 1) #use ( ) for specific operation otherwise it uses BODMAS rule

20

### Variable Assignment

In [8]:
a = 5

In [9]:
a

5

In [10]:
b = 10.5

In [11]:
b

10.5

Python uses dynamic typing whereas other languages uses static typing like declaring int, char before assigning the variables

Rules for python variable assignment https://www.w3schools.com/python/gloss_python_variable_names.asp

In [12]:
type(a) #use type to know the data type of the variable

int

In [13]:
type(b)

float

### Strings

In [14]:
'hello' #can be specified inside single quotes

'hello'

In [15]:
"can't" #use double quotes if there is single quote to be printed

"can't"

In [16]:
'''hello
      world''' #triple quotes are used to span multiple lines, and they also serve as docstrings

'hello\n      world'

In [17]:
a = "John Jonas" 
a[0] #can use [n] to retrieve each element inside the string, where 'n' specifies which element to be retrieved

'J'

In [18]:
a[-1] #can also use reverse indexing to get last elements

's'

In [19]:
len(a) #use len to get the length of the string

10

In [20]:
a[ : : ] #slicing syntax [start:stop:jump] which helps to extract the part of the string

'John Jonas'

In [21]:
a[:4]

'John'

In [22]:
a[5:]

'Jonas'

In [23]:
a[ : :2]

'Jh oa'

### String properties

In [24]:
a = "John Jonas" 
a[0] = "M" #strings are immutable

TypeError: 'str' object does not support item assignment

In [25]:
"M" + a[1:] #concatenation

'Mohn Jonas'

In [26]:
"Hi" * 5 #multiplication

'HiHiHiHiHi'

### String methods

In [27]:
a.upper() #converts a string into upper case

'JOHN JONAS'

In [28]:
a.split() #splits the string at specified value [default is space]

['John', 'Jonas']

for more methods https://www.w3schools.com/python/python_ref_string.asp

### Print formatting

In [29]:
a = "lucy"
b = "joe"

In [30]:
print("Hello " + a) #normal method

Hello lucy

In [31]:
print("Hello {}".format(a)) #.format() method

Hello lucy

In [32]:
print("Hello {1}".format(a,b)) #use of indexing in .format method

Hello joe

In [33]:
print("Hello {a} Hi {b}".format(a="lucy", b="joe")) #assigning variables inside the format function

Hello lucy Hi joe

In [34]:
result = 10/27
result

0.37037037037037035

In [35]:
print(result)

0.37037037037037035

In [36]:
print("result = {r:1.3f}".format(r = result)) #using float formatting inside .format method. Syntax "{value: width: precision}"

result = 0.370

In [37]:
print("result = {r:10.3f}".format(r = result))

result =      0.370

In [38]:
print("result = {r:1.7f}".format(r = result))

result = 0.3703704

In [39]:
print(f"Hello, his name is {a}") #f string formatting method

Hello, his name is lucy

### List

In [40]:
myList = [100, 23.6, "John"] #list can hold any type of data types

In [41]:
myList[0]

100

In [42]:
myList[1:] #can use indexing and slicing as strings

[23.6, 'John']

In [43]:
anotherList = [2, 78.9] 
myList + anotherList #can also use concatenation as string

[100, 23.6, 'John', 2, 78.9]

In [44]:
myList * 2 #can also be multiplied as strings

[100, 23.6, 'John', 100, 23.6, 'John']

In [45]:
myList[0] = "Hello" #it is mutable whereas strings are not
myList

['Hello', 23.6, 'John']

All the list methods https://www.w3schools.com/python/python_ref_list.asp Some of them are below.

In [46]:
myList.append(44) #Adds an element at the end of the list
myList

['Hello', 23.6, 'John', 44]

In [47]:
myList.reverse() #Reverses the order of the list
myList

[44, 'John', 23.6, 'Hello']

### Dictionaries

When to choose List and when to choose Dictionaries ?
Dictionaries: Objects retrieved by key name. Unordered and cannot be sorted.
Lists: Objects retrieved by Indexing. Ordered sequence can be Sorted, Indexed and Sliced

In [48]:
myDict = {'key1': 'value1', 'key2': 'value2'}
myDict

{'key1': 'value1', 'key2': 'value2'}

In [49]:
myDict['key1']

'value1'

In [50]:
anotherDict = {'k1': 123, 'k2': [0, 1, 2], 'k3': {'k31': 100}}
anotherDict

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'k31': 100}}

In [51]:
anotherDict['k2'][1]

1

In [52]:
anotherDict['k3']['k31']

100

In [53]:
anotherDict['k4'] = 600
anotherDict #this is how we can add elements to Dictionaries

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'k31': 100}, 'k4': 600}

In [54]:
anotherDict.keys() #prints all the keys

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [55]:
anotherDict.values() #prints all the values

dict_values([123, [0, 1, 2], {'k31': 100}, 600])

In [56]:
anotherDict.items() #prints all the pairs

dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', {'k31': 100}), ('k4', 600)])

### Tuples

Tuples are very similar to lists. However they have one key difference that is immutability. Once an element is inside a tuple, it can not be reassigned. Tuple uses parenthesis: (1,2,3)

In [62]:
mytuple = (1, 'one', 78.6) #it can take all type of data types as list
mytuple

(1, 'one', 78.6)

In [63]:
mytuple[0]

1

In [65]:
mytuple[1:] #indexing and slicing works same as list

('one', 78.6)

In [69]:
mytuple + mytuple #concatenation

(1, 'one', 78.6, 1, 'one', 78.6)

In [70]:
mytuple * 4 #multiplication

(1, 'one', 78.6, 1, 'one', 78.6, 1, 'one', 78.6, 1, 'one', 78.6)

In [74]:
mytuple[0] = 4 #only difference is it can be reassigned

TypeError: 'tuple' object does not support item assignment

In [75]:
mytuple.count(1) #Returns the number of times a specified value occurs in a tuple

1

In [76]:
mytuple.index(1) #	Searches the tuple for a specified value and returns the position of where it was found

0

### Sets

Sets are unordered collection of unique elements. Meaning there can only be one representative of same object.

In [92]:
myset = {1,2,2,2,3,3,3}
myset #it takes only unique values

{1, 2, 3}

In [93]:
myset[0] #indexing doesnot work because it is unordered

TypeError: 'set' object is not subscriptable

For set methods https://www.w3schools.com/python/python_ref_set.asp

In [94]:
myset.add(4) #Adds an element to the set
myset

{1, 2, 3, 4}

In [95]:
myset.pop() #Removes an element from the set
myset

{2, 3, 4}

### I/O with files

In [105]:
%%writefile myfile.txt 
Hello this is a text file
this is the second line
this is the third line #used to write new file and also works only in jupyter notebook

Overwriting myfile.txt

In [106]:
pwd #shows the current working directory

'/Users/ankushpgowda/Desktop/Data Science Bootcamp'

In [107]:
myfile = open('myfile.txt') #opens the assigned file and load the data to a variable

In [108]:
myfile.read() #prints the data inside the file variable

'Hello this is a text file\nthis is the second line\nthis is the third line #used to write new file and also works only in jupyter notebook\n'

In [109]:
myfile.read() #because cursor is at the end of the file it gives nothing

''

In [110]:
myfile.seek(0) #reset the cursor to start
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line #used to write new file and also works only in jupyter notebook\n'

In [111]:
myfile.seek(0) 
myfile.readlines() #reads each lines as the single elements in the list

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line #used to write new file and also works only in jupyter notebook\n']

In [ ]:
myfile.close() #closes the file after it is opened

In [112]:
with open('myfile.txt') as mynewfile: #another type of opening a file which doesnot need closing syntax
    contents = mynewfile.readlines()

contents

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line #used to write new file and also works only in jupyter notebook\n']

READING, WRITING,APPENDING MODES
mode = 'r' is read only
mode = 'w' is write only (will overwrites files or create new!)
mode = 'a' is append only (will add on to files)
mode = 'r+' is reading and writing 
mode = 'w+' is writing and reading (overwrites existing files or creates a new file)

default is mode = 'r'

In [114]:
with open('myfile.txt', mode = 'a') as f: 
    f.write('\nthis is fourth line')

with open('myfile.txt', mode = 'r') as f:
    print(f.read())

Hello this is a text file
this is the second line
this is the third line #used to write new file and also works only in jupyter notebook

this is fourth line
this is fourth line

In [115]:
with open('myfile.txt', mode = 'w') as f: 
    f.write('\nthis is fourth line')

with open('myfile.txt', mode = 'r') as f:
    print(f.read())

this is fourth line

### if, elif, else statements

In [116]:
name = "Sammy"

if name == "Frankie":
    print("Hello Frankie!")
elif name == "Sammy":
    print("Hello Sammy!")
else:
    print("Who are you?")

Hello Sammy!

### for loops and while loops

In [1]:
mylist = [1, 2, 3 ,4 , 5]
for num in mylist:
    print(num)

1
2
3
4
5

In [2]:
mytuple = [(1,2), (3,4), (5,6)]  #tuple unpacking method
for (a,b) in mytuple:
    print(a)
    print(b)

1
2
3
4
5
6

In [3]:
mydict = {'k1':1, 'k2':2, 'k3':3}  #same tuple unpacking method for dictionaries
for key, values in mydict.items():
    print(values)

1
2
3

In [8]:
x = 1         #we can also use else in while loop
while x < 5:
    print(x)
    x = x + 1 #x += 1

1
2
3
4

break: Breaks out of the current closest enclosing loop
continue: Goes to the top of the closest enclosing loop
pass: Does nothing at all

In [9]:
x = [1,2,3] #without pass it gives error so use pass to do nothing
for item in x:
    pass

In [12]:
x = 'Hello'
for letter in x:
    if letter == 'e':
        continue
    print(letter)  #used continue to go back to the nearest loop in this case it is for loop

H
l
l
o

In [13]:
x = 'Hello'
for letter in x:
    if letter == 'e':
        break
    print(letter) #used break to break the nearest loop in this case it is for loop

H

In [15]:
for i in range(len(x)):
    print(x[i])

H
e
l
l
o